body {
	background-color: white;
	color:black;
	font-family: "Helvetica Neue", Helvetica;
}


::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  box-shadow: inset 0 0 10px darkgrey; 
}

::-webkit-scrollbar-thumb {
  background: #368cbf;
}


::-webkit-scrollbar-button {
	background-color: black;
	height: 0.5em;	
}
#header {
	width:100%;
}

.button {
	float:left;
	margin-right: 0.1em;
	margin-left:0.2em;
	border:2px solid #368cbf;
	border-radius: 20px;
	padding: 0.15em 0.25em;

}

.button:hover {
	border:2px solid black;
	background-color: #8bbdda;
}

.button-link {
	color:black;
	text-decoration: none;
	user-select: none;
}

.button-link:hover {
	color:black;
	text-decoration: none;
}

.active {
	border:2px solid black;
	background-color: #4293c2;
	color:white;
}

#idioma {
	position: absolute;
	top:0px;
	right:0px;
}

h3	{
	width: 100%;
	text-align: center;
	border-bottom: 1px solid black;
	line-height: 0.1em;
	margin:1em 0;
	color:black;
}

h3 span {
	background:white;
	padding:0 10px;
	color: transparent;
    text-shadow: rgba(46, 120, 163, 0.95) 0px 2px 3px;
    font-size: 42px;
}

h1 {
	text-align: center;
	color:trasparent;
	text-shadow: 0px 0px 12px rgba(46, 120, 163,0.7);
}

hr {
	background-color:black;
	width: 95%;
}

.content {
	width:60%;
	margin-top: 3em;
	margin-left: 2em;
}

#gameCanvas {
	border:1px solid black;
	margin:5px 30px 20px 30px;
}

a {
	color:#368cbf;
	text-decoration:none;
	user-select: none;
}

a:hover {
	user-select: none;
	text-decoration: none;
	color::#001075;
}

#btn-row {
	position: relative;
	margin:10px 0px -4px 30px;
	width:480px;
	user-select: none;


}

.butn {
	height: 30px;
	width: 60px;
	text-align:center;
	border-radius: 15px;
	user-select: none;
}

#pauseButton {
	
}

#resetButton {
	position:absolute;
	right: 0px;
}

.dropbtn {
	border:0 solid black;
	border-radius: 0px 0px 20px 0px;
	cursor:pointer;
	background-color: #368cbf;
	color:white;
	padding:2px 7px;	
	font-size: 16px;
}

.dropdown {
	position: relative;
	display: inline-block;
}

.dropdown-content {
	display: none;
	position: absolute;
	z-index: 1;
	background-color: #f9f9f9;
	min-width: 120px;
}

.dropdown-content a {
	display: block;
	color:black;
	padding:2px 14px;
	text-decoration: none;

}

.dropdown-content a:hover {
	background-color:#f1f1f1;
}

.dropdown:hover .dropdown-content {
	display:block;
}

.dropdown:hover .dropbtn {
	background-color:#4293c2;
}

svg {
}

.arrows {
	width: 60px;
	height: 72px;
	position: absolute;
	right: 10%;
	margin-left: -30px;
	bottom: 20px;
}

.arrows path {
	stroke: black;
	fill: transparent;
	stroke-width: 2px;	
	animation: arrow 3s infinite;
	-webkit-animation: arrow 3s infinite; 
}

@keyframes arrow
{
0% {opacity:0.1}
40% {opacity:1}
80% {opacity:0}
100% {opacity:0}
}

@-webkit-keyframes arrow {
0% {opacity:0.1}
40% {opacity:1}
80% {opacity:0}
100% {opacity:0}
}

.arrows path.a1 {
	animation-delay:-1s;
	-webkit-animation-delay:-1s; 
}

.arrows path.a2 {
	animation-delay:-0.5s;
	-webkit-animation-delay:-0.5s;
}

.arrows path.a3 {	
	animation-delay:0s;
	-webkit-animation-delay:0s;
}